<main>
  <div class="clm">
  <div>
    <div class="linkBack">
        <a href="<?=FULL_SITE_ROOT?>/products"><i class="fa-solid fa-arrow-left"></i>назад</a>
      </div><h2>Изменение таблицы авторы</h2>
</div>
<? if (!empty($errors)): ?>
        <? foreach ($errors as $error): ?>
            <div class="alert alert-danger text-center alert-reg"><?= $error; ?></div>
        <? endforeach; ?>
<? endif; ?>
<form method="post" enctype="multipart/form-data">
  <div>
    <label>Наименование</label>
    <input type="text" class="text" name="product_name" value="<?= isset($product) ? $product['product_name']: ''; ?>">
  </div>
  <div>
    <label>Описание товара</label>
    <textarea class="text" name="product_description"><?= isset($product) ? $product['product_description']: ''; ?></textarea>
  </div>
  <div>
    <label>Открыт ли товар к продаже (1 - Да, 0 - Нет)</label>
    <input type="number" class="text" name="product_reservetion_access" value="<?= isset($product) ? $product['product_reservetion_access']: ''; ?>">
  </div>
  <div>
    <label>Цена</label>
    <input type="text" class="text" name="product_price" value="<?= isset($product) ? $product['product_price']: ''; ?>">
  </div>
  <div>
    <label>Показывать продукт на главной странице сайта? (1 - Да, 0 - Нет)</label>
    <input type="number" class="text" name="product_show" value="<?= isset($product) ? $product['product_show']: ''; ?>">
  </div>
  <div>
    <label>Изображение</label>
    <input type="file" name="product_img" class="img" accept="image/png,image/jpg,image/jpeg,image/gif">
  </div>
  <?php if (isset($product)): ?>
    <div>
      <label>Текущее изображение:</label>
      <img class="current" src="<?= IMG_PRODUCT; ?>/<?= $product['product_img']; ?>">
    </div>
  <?php endif; ?>
    <input type="submit" class="save" value="Сохранить">
</form>
</div>
</main>
