<main>
<section id="reservation">
    <div class="container">
      <div class="contactInfo">
        <div>
          <h2>Информация</h2>
          <p class="info">
               При необходимости мы свяжемся с вами по электронной почте в течении 7 рабочих дней. Выражаем Вам искреннюю благодарность за оказанное доверие и выбор нашей компании.
          </p>
          <ul class="contact_list">
            <li>
              <a href="#">
                <span><i class="fa-solid fa-envelope"></i></span>
                <span><?= ADMIN_EMAIL; ?></span>
              </a>

            </li>
          </ul>
        </div>
        <ul class="sci">
            <li><a href="https://vk.com/sangel_78" target="_blank"><i class="fab fa-vk" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="contactForm">
        <h2>Связаться с нами</h2>
        <form class="formBox" id="form-feedback" method="post">
          <div class="inputBox w50">
            <input type="text" name="fio" id="fio">
            <span>ФИО</span>
            <div class="error" id="error-fio"></div>
          </div>
          <div class="inputBox w50">
            <input type="text" name="email" id="email">
            <span>Email</span>
            <div class="error" id="error-email"></div>
          </div>
          <div class="selectBox w50">
            <select id="select_reason" name="reason">
              <option value="0">Причина обращения</option>
              <? foreach($reasons as $item): ?>
              <option value="<?= $item['reason_id'] ?>"><?= $item['reason_name'] ?></option>
              <? endforeach; ?>
            </select>
            <div class="error" id="error-reason"></div>
          </div>
          <div class="rating-area w50" id="rating-area">
          	<input type="radio" id="star-5" name="rating" value="5">
          	<label for="star-5" title="Оценка «5»"></label>
          	<input type="radio" id="star-4" name="rating" value="4">
          	<label for="star-4" title="Оценка «4»"></label>
          	<input type="radio" id="star-3" name="rating" value="3">
          	<label for="star-3" title="Оценка «3»"></label>
          	<input type="radio" id="star-2" name="rating" value="2">
          	<label for="star-2" title="Оценка «2»"></label>
          	<input type="radio" id="star-1" name="rating" value="1">
          	<label for="star-1" title="Оценка «1»"></label>
          </div>
          <div class="inputBox w100">
            <textarea name="text" id="text"></textarea>
            <span>Напишите ваше сообщения здесь...</span>
            <div class="error" id="error-text"></div>
          </div>
          <div class="inputBox w100 subBox">
            <input type="submit" class="send_btn" value="Отправить">
          </div>
          <p class="agree">Нажимая кнопку Отправить, вы принимаете <a href="<?= FULL_SITE_ROOT; ?>/privacy">Условия, Политику использования данных и Политику в отношении файлов cookie.</a></p>
        </form>
      </div>
    </div>
</section>
</main>
