@font-face {
	font-family: 'OpenSans';
	src: url(../font/OpenSans-Regular.woff);
}
@font-face {
	font-family: 'BaronNeue';
	src: url(../font/BaronNeue.otf);
}
:root{
  --main: #AEB884;
	--main2: #FED07B;
	--main3: #DFA36D;
	--main4: #F2EBD8;
  --font: #434343;
  --background_body: #edeef070;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font);
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background: var(--background_body);
  line-height: 1.154;
  font-weight: 400;
}
a{
	color: #007bff;
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover{
	color: #a4ad7d;
  text-decoration: underline;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover{
background-color: #ababab;
}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background: #fff;
  margin-top: 10px;
}
input[type="checkbox"]{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 0.9em;
    height: 0.9em;
    border: 1px solid #bbc0c4;
    background-color: #fff;
    outline: 0;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
    margin-bottom: 3px;
}
input[type="checkbox"]:hover {
    border-color: #6cbbf7;
}
input[type="checkbox"]:focus {
    border-color: #6cbbf7;
    box-shadow: 0 0 0 4px #0095ff26;
}
input[type="checkbox"]:checked {
    border-color: #0095ff;
    background-image: url(../img/checkbox.png);
}
button, input[type="submit"] {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: .5rem 1rem;
  display: inline-block;
  font: 400 14px system-ui;
	transition: all 0.3s ease;
}
button:hover, input[type="submit"]:hover {
	color: #fff;
  background: #1d49aa;
}
button:focus, input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
input[type="text"], select, input[type="password"]{
	width: 300px;
	font-size: 13px;
	padding: .5rem 1rem;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
	transition: all 0.4s ease;
}
input[type="text"]:hover, select:hover, input[type="password"]:hover{
 border-color: #0f888f;
}
input[type="text"]:focus, select:focus, input[type="password"]:focus{
 border-color: #0f888f;
 outline: none;
 box-shadow: 0 0 0 0.2rem rgb(15 136 143 / 35%);
}
input[type=radio] {
    width: 1rem;
    height: 1rem;
    position: relative;
    background: #ccc;
    border: none;
    border-radius: 50%;
    transition: .3s;
    appearance: none;
    cursor: pointer;
}
input[type=radio]:checked {
	background: var(--main);
}
input[type=radio]:not(:checked) {
	background: #ccc;
}
input[type=radio] + label {
    margin-left: .625rem;
    cursor: pointer;
    transition: .3s;
}
header{
	width: 100%;
  background: #fff;
	box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  position: fixed;
  top: 0;
  z-index: 1004;
}
header > div{
	width: 65%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header > div > div:nth-child(1) a{
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}
header > div > div img{
		width: 30px;
		height: 30px;
}
header > div > div h1{
	font-size: 17px;
	font-weight: 500;
	margin: 10px;
	color: #343434;
	margin-left: 10px;
	text-transform: uppercase;
	text-shadow: 0 0 4px #ffffff;
}
nav{
	background: #fefeff;
	width: 225px;
	position: fixed;
  left: 0;
  top: 40px;
  height: 100%;
  padding: 6px 0px;
  z-index: 99;
  transition: all 0.3s ease;
  z-index: 1005;
}
nav ul li a span:first-child{
	padding-right: 15px;
}
nav ul{
	padding: 0;
	list-style: none;
}
nav ul li a{
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 16px;
	color: #434343;
	padding-left: 14px !important;
	border-bottom: 1px solid #eee;
		transition: all 0.3s ease;
}
nav ul li a:hover{
	background: #eee;
}
.report{
    --bs-toast-padding-x: 0.75rem;
    --bs-toast-padding-y: 0.5rem;
    --bs-toast-spacing: 1.5rem;
    --bs-toast-max-width: 350px;
    --bs-toast-font-size: 0.875rem;
    --bs-toast-color: ;
    --bs-toast-bg: rgba(255, 255, 255, 0.85);
    --bs-toast-border-width: 1px;
    --bs-toast-border-color: var(--bs-border-color-translucent);
    --bs-toast-border-radius: 0.375rem;
    --bs-toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-toast-header-color: #6c757d;
    --bs-toast-header-bg: rgba(255, 255, 255, 0.85);
    --bs-toast-header-border-color: rgba(0, 0, 0, 0.05);
    width: var(--bs-toast-max-width);
    max-width: 100%;
    font-size: var(--bs-toast-font-size);
    color: var(--bs-toast-color);
    pointer-events: auto;
    background-color: var(--bs-toast-bg);
    background-clip: padding-box;
    border: var(--bs-toast-border-width) solid var(--bs-toast-border-color);
    box-shadow: var(--bs-toast-box-shadow);
    border-radius: var(--bs-toast-border-radius);
		position: fixed;
		right: 20px;
		bottom: 20px;
		min-height: 60px;
		padding: var(--bs-toast-padding-x);
    word-wrap: break-word;
}
.report.active{
	display: block;
	opacity: .8;
}
 .report.darker{
	 opacity: 0;
 }
 #account-menu {
    position: absolute;
    background: #fff;
    border: 1px solid #e4eaf2;
    top: 45px;
    box-shadow: 0px 0px 20px 0px rgb(154 161 171 / 45%);
		right: 17%;
    width: 200px;
		display: none;
		border-radius: 8px;
}
header > div div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
header #account-menu.active {
    display: block;
}
header #account-menu > ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
header #account-menu > ul li a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 1px 1px 0 rgb(255 255 255);
    padding: 12px 8px;
    display: block;
    transition: all 0.4s ease;
		border-radius: .25rem;
}
header #account-menu > ul li a span {
    font-size: 14px;
    padding-left: 5px;
}
header #account-menu > ul li a:hover {
    background-color: #f4f5fd;
}
#account{
	padding: .5rem;
	cursor: pointer;
	transition: all 0.3s ease;
	border: 1px solid transparent;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}
header #account h6 {
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
    color: #434343;
    font-size: 14px;
}
header #account i {
    color: #bdc5ce;
}
header #account:hover {
    background-color: #aeb7c21f;
    border-color: #f1f3fa;
}
main > .clm{
  background: #fff;
border-radius: 4px;
border: 1px solid #00000020;
margin-left: 20%;
margin-top: 50px;
display: block;
margin-right: 20px;
}
main h2{
  margin-left: 7%;
}
main table{
  border-collapse: collapse;
  width: 95%;
  margin: 10px auto;
}
main td, th {
  border: 1px solid #9f9f9f;
  padding: 10px;
  text-align: left;
  max-width: 283px;
}
main th{
  position: relative;
  transition: all 0.4s ease;
}
tbody td:last-child a{
  border: 1px solid rgb(118, 118, 118);
  text-align: center;
  text-decoration: none;
  background: rgb(239, 239, 239);
  margin-left: 15px;
  padding: 1px 6px;
}
tbody td:last-child a:first-child{
  color: green;
  display: inline-block;
  margin-bottom: 10px;
}
tbody td:last-child a:last-child{
  color: red;
}
main td img{
  width: 200px;
}
.link_add{
  border: 2px solid #ccc;
  padding: 1rem;
  color: #434343;
  text-decoration: none;
  margin-bottom: 20px;
  width: 200px;
  margin-left: 20px;
  display: block;
  transition: all 0.3s ease;
}
nav h3{
	display: none;
	padding-left: 5px;
}
footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
	display: none;
}
@media (max-width: 1230px)
{
	#menu:hover{
		transition: all 0.3s ease;
		border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
		border-style: solid;
		box-shadow: 0 0 0 1px #cbd6ee;
	}
nav{
	position: fixed;
	top: 0;
	left: -100%;
	bottom: 0;
}
nav h3{
	display: block;
}
nav.active{
	left: 0;
}
header > div {
    width: 95%;
	}
main > .clm {
	width: 95%;
	padding: 5px;
	margin: 0 auto;
	margin-top: 50px;
}
header > div > div:nth-child(1) {
	display: flex;
	align-items: center;
}
.menu{
	display: block;
	margin: 0 15px;
	font-size: 18px;
	background: #eee;
	padding: 0.2rem 0.8rem;
}
}
@media (max-width: 900px){
	main form > div {
    flex-direction: column;
	}
	form input.text {
    width: 90%;
	}
	form label {
    margin-bottom: 10px;
}
}
@media (max-width: 550px){
form input.text {
	margin-left: 0px;
}
}
