<footer>
  <div class="container-footer">
          <div class="sec about">
            <h2>Social</h2>
            <ul class="sci">
              <li><a href="https://vk.com/sangel_78" target="_blank"><i class="fab fa-vk" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="sec quicklinks">
            <h2>Shop</h2>
            <ul>
              <li><a href="<?= FULL_SITE_ROOT; ?>/development">Продукты</a></li>
            </ul>
          </div>
          <div class="sec quicklinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="<?= FULL_SITE_ROOT; ?>/privacy">Политика сайта</a></li>
              <li><a href="<?= FULL_SITE_ROOT; ?>/privacy">FAQ</a></li>
            </ul>
          </div>
          <div class="sec contact">
            <h2>Contact us</h2>
            <ul class="info">
              <li>
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <p><a href="mailto:<?= ADMIN_EMAIL; ?>"><?= ADMIN_EMAIL; ?></a></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="copyrightText">
      <p>Copyright @ 2024 Sangel. All Rights Reserved.</p>
    </div>
</footer>
